*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, rgba(209, 182, 220, 0.09), rgba(145, 107, 152, 0.1));
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;       
}
.all-player-container{    
    flex-wrap: wrap;   
    width: 100%;            
}
.group-container{    
    width: 300px;    
    box-shadow: 4px 4px 8px gray;
    position: absolute;
    right: 80px;             
}
.card{
    border: 1px solid gray; 
    padding: 15px;
    box-shadow: 4px 4px 8px gray;
    margin-bottom: 20px;
}
.card-img{    
    height: 200px;
}

footer{
    background-color: rgba(232, 227, 235, 0.44);
    padding: 15px;
}
